<div class="request-content">
	<div class="request-content-header hidden-container">
		<button 
			class="btn btn-primary transaction"
			id="new-transaction">
			Create Offer
		</button>
	</div>
	<div class="request-content-main">
		<h4>
			Request Title: <%= item.escape('name') %>
		</h4>
		<p>
			Request Description: <%= item.escape('description') %>
		</p>
		<p>
			Estimated Number of Hours: <%= item.escape('hours') %>
		</p>
		<p>
			Requester: <%= requestable.name %>
		</p>
	</div>
	<div class="request-content-expander hidden-container">
		<p>About Me Information</p>
		<p>Scope Information</p>
		<p>Comments</p>
	</div>
</div>
<div class="modals"></div>