<label for="search-box">
	Search Bar:
</label>
<input
	type="text"
	id="search-box">
<label for="tag">
	Tag:
</label>
<select id="tag">
	<option value="">
		None
	</option>
	<% tags.forEach(function (tag) { %>
		<option 
			value="<%= tag.escape('name') %>">
			<%= tag.escape('name') %>
		</option>
	<% }) %>
</select>