<button 
	class="btn btn-lg btn-primary" 
	id="">
	No Filter
</button>

<button 
	class="btn btn-lg btn-default" 
	id="a">
	Names with 'A'
</button>

<button 
	class="btn btn-lg btn-default" 
	id="b">
	Names with 'B'
</button>

<button 
	class="btn btn-lg btn-default" 
	id="c">
	Names with 'C'
</button>