<div class="login-content">
	<div class="login-header">
    <h4 class="login-title">Log In</h4>
	</div>
	<div class="login-body">
		<div id="flash-message"></div>
    <form id="login-form">
      <input
        class="form-control"
        name="user[email]"
        placeholder="Email Address"
        type="text">
      <hr>
      <input
        class="form-control"
        name="user[password]"
        placeholder="Password"
        type="password">
      <div class="row row-offset-2"></div>
      <input
        class="btn btn-primary form-control"
        type="submit"
        value="Sign Up">
    </form>
	</div>
</div>