<div id="navbar"></div>
<div class="new-offer-content">
	<div class="new-offer-header">
    <h4 class="new-offer-title">New offer</h4>
	</div>
	<div class="new-offer-body">
    <form id="new-offer-form">
      <input
        class="form-control"
        name="offer[name]"
        placeholder="Name"
        type="text">
      <hr>
      <textarea
        class="form-control"
        name="offer[description]"
        placeholder="Description"></textarea>
      <hr>
      <div class="row row-offset-2"></div>
      <input
        placeholder="Number of Hours"
        class="form-control"
        name="offer[hours]"
        type="number">
      <input
        class="form-control"
        name="offer[date]"
        type="date">
      <input
        class="btn btn-primary form-control"
        type="submit"
        value="Submit">
    </form>
	</div>
</div>