<div class="new-request-content">
	<div class="new-request-header">
    <h4 class="new-request-title">New Request</h4>
	</div>
	<div class="new-request-body">
    <form id="new-request-form">
      <input
        class="form-control"
        name="request[name]"
        placeholder="Name"
        type="text">
      <hr>
      <textarea
        class="form-control"
        name="request[description]"
        placeholder="Description"></textarea>
      <hr>
      <div class="row row-offset-2"></div>
      <input
        placeholder="Number of Hours"
        class="form-control"
        name="request[hours]"
        type="number">
      <input
        class="form-control"
        name="request[date]"
        type="date">
      <input
        class="btn btn-primary form-control"
        type="submit"
        value="Submit">
    </form>
	</div>
</div>